TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
TELEGRAM_CHAT_TEST_ID=your_telegram_chat_test_id_here

WKHTMLTOIMAGE_PATH=your_wkhtmltoimage_path_here
DART_API_KEY=your_dart_api_key_here

BASE_URL=your_base_url_here

KRX_LOGIN_ID=your_krx_login_id_here
KRX_LOGIN_PASSWORD=your_krx_login_password_here